embeddings_index/config
embeddings_index/embeddings
text_samples/Breathtaking_Sunset.txt
text_samples/Bustling_Market.txt
text_samples/Electrifying_Concert.txt
text_samples/Library_Books.txt
text_samples/Serene_Garden.txt
